<div zhd="card" header="User" submit="Save" (submitClick)="save()">
  <zhd-table [datalist]="userModelList">
    <zhd-table-col label="Email" type="text" value="email"></zhd-table-col>
    <zhd-table-col label="Two Factor Enabled" type="checkbox" value="twoFactorEnabled"></zhd-table-col>
    <!-- <zhd-table-col label="Landing Page" type="select" value="landingPage" [listUrl]="selectClient"></zhd-table-col> -->
    <zhd-table-col label="Role" type="select" value="role" [listUrl]="selectRole"></zhd-table-col>
    <zhd-table-col label="Clients" type="multiselect" value="clients" [listUrl]="selectClient"></zhd-table-col>
  </zhd-table>
</div>
